@include font-face(fontello,fontello);
@include font-face(arrows,arrows);

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  position: absolute;
  font-size: 24px;
  color: black;

}

.icon-location:before {
  content: '\e800';
}

.icon-clock:before {
  content: '\e801';
}

.icon-mail:before {
  content: '\e802';
}

.icon-mobile:before {
  content: '\e803';
}

.icon-facebook:before {
  content: '\f09a';
  font-size: 29px;
}

.icon-gplus:before {
  content: '\f0d5';
  font-size: 29px;
}

.icon-twitter:before {
  content: '\f302';
  font-size: 29px;
}

.icon-pinterest:before {
  content: '\f312';
  font-size: 29px;
}

.social-but:hover i::before{
  color: rgba(0, 0, 0, 0.61);
}


